/* master.css */

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

header, footer {
	background-color: #2f2f2f;
	border: solid 2px darkorange;
	border-radius: 4px;
}


footer {
	padding: 10px;
	background-origin: 3px;
}

body {
	font-family: Silkscreen, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #2f2f2f;
}

a {
	color: darkorange;
	text-decoration: none; 
}

html, body {
	padding: 0;
	margin: 0;
}

.bordered-image {
	border: solid 2px darkorange;
	border-radius: 6px;
	margin: 10px;
}

#main {
	border: solid 2px darkorange;
	border-radius: 6px;
	color: #white;
	margin: 20px 0;
	padding: 5px;
}

#secondary {
	border: solid 2px darkorange;
	border-radius: 6px;
	color:  #ff0000;
	margin: 20px 0;
	padding: 5px;
}

#secondary h3 {
	color: #0066ff;
	letter-spacing: 7px;
}

.highlight {
	color: yellow;
	font-weight: bold;
}

#results {
	border: 2px solid darkorange;
	padding: 2px;
	width: 600px;
	display: inline-block;
	vertical-align: top;
}

.simple-form {
	border: 2px solid darkorange;
	color: white;
	padding: 2px;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	/* position: absolute;
	bottom: 5px;
	right: 5px;*/
}

.simple-form label {
	font-weight: bold;
}

.simple-form input[type=text],
.simple-form select,
.simple-form input[type=password],
.simple-form textarea {
	width: 150px;
}

.simple-form input[type=submit] {
	background-color: darkorange;
	color: #2f2f2f;
	border-radius: 6px;
	padding: 6px;
	margin-top: 5px;
}

.container {
	width: 989px;
	margin: 0 auto;
	background-color: #2f2f2f;
	color: white;
	padding: 5px;
}

header nav {
	float: right;
}

header nav li {
	display: inline;
	margin-right: 5px;
	font-size: 12px;
}